body{
margin:0;
background:black;
color:white;
font-family:Arial;
text-align:center;
}

.hidden{display:none;}

#intro img{
width:100%;
height:100vh;
object-fit:cover;
opacity:0.6;
}

.center{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

button{
padding:10px;
background:yellow;
border:none;
margin:10px;
}