body {
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
}

/* INTRO */
#eyes {
  width:100%;
  height:100vh;
  object-fit:cover;
  animation:move 3s infinite alternate;
}

@keyframes move {
  from { transform:translateX(-10px); }
  to { transform:translateX(10px); }
}

.introText {
  position:absolute;
  bottom:20%;
  width:100%;
  text-align:center;
}

button {
  padding:12px;
  background:yellow;
  border:none;
}

/* HIDE */
.hidden {
  display:none;
}

/* APP */
.topbar {
  display:flex;
  justify-content:space-between;
  padding:10px;
}

/* SNOW BG */
#questPanel {
  background:url("snow.jpg") center/cover no-repeat;
  min-height:80vh;
  padding:10px;
}

.quest {
  background:rgba(0,0,0,0.7);
  margin:10px;
  padding:15px;
  border:1px solid cyan;
}

/* POPUPS */
#taskPopup, #levelPopup {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  display:flex;
  justify-content:center;
  align-items:center;
}

.box {
  background:#001f3f;
  padding:20px;
  border:2px solid cyan;
  text-align:center;
}